	<div class="clearfix"></div>
	  <div class="row">
	    <div class="col-md-12 col-sm-12 col-xs-12">
	      <div class="x_panel" style="height:600px;">
	        <div class="x_content">
	          <div class="container-fluid" style="margin-top: 100px;">
	  
	<h3>Listing Customers</h3>
	  <div class="table-responsive">          


		<table border="0" cellspacing="0" cellpadding="0" width="100%" class="table table-bordered">
		  <thead>
		    <tr class="success">
		      <th>Name</th>
		      <th>Last Name</th>
		      <th>Address Line1</th>
		      <th>Address Line2</th>
		      <th>City</th>
		      <th>State</th>
		      <th>Zip Code</th>
		      <th>Latitude</th>
		      <th>Longitude</th>
		      <th colspan="8"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @customers.each do |customer| %>
		      <tr >
		        <td><%= customer.first_name %></td>
		        <td><%= customer.last_name %></td>
		        <td><%= customer.address_line1 %></td>
		        <td><%= customer.address_line2 %></td>
		        <td><%= customer.city %></td>
		        <td><%= customer.state %></td>
		        <td><%= customer.zip_code %></td>
		        <td><%= customer.lat %></td>
		        <td><%= customer.lng %></td>
		        <td><%= link_to 'Show', customer , class: 'btn btn-success btn-xs' %></td>
		        <td><%= link_to 'Edit', edit_customer_path(customer) , class: 'btn btn-primary btn-xs' %></td>
		        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger btn-xs' %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>

	<br>

	<%= link_to 'New Customer', new_customer_path , class: 'btn btn-success' %>
	</div>